*.ain
*.dat
addons/*
bin/server.pdb
cfg/autoexec.cfg
cfg/banned_ip.cfg
cfg/banned_user.cfg
cfg/botrix.cfg
cfg/config.cfg
cfg/mapcycle.txt
cfg/motd.txt
cfg/motd_text.txt
cfg/server.cfg
cfg/server_blacklist.txt
cfg/sourcemod/*
custom/*
demoheader.tmp
desktop.ini
download/*
mapsrc/*.bsp
mapsrc/*.log
mapsrc/*.vmx
mapsrc/*.prt
mapsrc/alphablaster/*.bsp
mapsrc/alphablaster/*.log
mapsrc/alphablaster/*.vmx
mapsrc/alphablaster/*.prt

materials/temp/*
modelsounds.cache
sound/sound.cache
sound/temp/*
user_custom/*
*.backup
*.log
cfg/user.scr

*.ain
*.dat
goonsquad/addons/*
goonsquad/bin/server.pdb
goonsquad/cfg/autoexec.cfg
goonsquad/cfg/banned_ip.cfg
goonsquad/cfg/banned_user.cfg
goonsquad/cfg/botrix.cfg
goonsquad/cfg/config.cfg
goonsquad/cfg/mapcycle.txt
goonsquad/cfg/motd.txt
goonsquad/cfg/motd_text.txt
goonsquad/cfg/server.cfg
goonsquad/cfg/server_blacklist.txt
goonsquad/cfg/sourcemod/*
goonsquad/custom/*
goonsquad/demoheader.tmp
goonsquad/desktop.ini
goonsquad/download/*
goonsquad/mapsrc/*.bsp
goonsquad/mapsrc/*.log
goonsquad/mapsrc/*.vmx
goonsquad/mapsrc/*.prt
goonsquad/mapsrc/alphablaster/*.bsp
goonsquad/mapsrc/alphablaster/*.log
goonsquad/mapsrc/alphablaster/*.vmx
goonsquad/mapsrc/alphablaster/*.prt
goonsquad/materials/temp/*
goonsquad/modelsounds.cache
goonsquad/sound/sound.cache
goonsquad/sound/temp/*
goonsquad/user_custom/*
goonsquad/*.backup
goonsquad/*.log
goonsquad/cfg/user.scr
